[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vsl/Desktop/DeepinScreenshot_select-area_20200920182659.png]
row=3
col=0

[/home/vsl/Desktop/DeepinScreenshot_select-area_20200921182829.png]
row=4
col=0

[478c00004d532055]
row=5
col=0

[Wastebasket]
row=0
col=0

[/]
row=1
col=0

[/home/vsl]
row=2
col=0

